.btn-1,
.btn-1 *,
.btn-1 :after,
.btn-1 :before,
.btn-1:after,
.btn-1:before {
    border: 0 solid;
    box-sizing: border-box;
}

.btn-1 {
    -webkit-tap-highlight-color:
        transparent;
    -webkit-appearance: button;
    background-color:
        #FFFFFF;
    background-image: none;
    color:
        #9BBEC8;
    cursor: pointer;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 100%;
    font-weight: 900;
    line-height: 1.5;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#FFFFFF, #9BBEC8);
    padding: 0;
    text-transform: uppercase;
}

.btn-1:disabled {
    cursor: default;
}

.btn-1:-moz-focusring {
    outline: auto;
}

.btn-1 svg {
    display: block;
    vertical-align: middle;
}

.btn-1 [hidden] {
    display: none;
}

.btn-1 {
    border-radius: 99rem;
    border-width: 2px;
    overflow: hidden;
    padding: 0.8rem 3rem;
    position: relative;
}

.btn-1 span {
    mix-blend-mode: difference;
}

.btn-1:before {
    background: #9BBEC8;
    content: "";
    display: block;
    height: 100%;
    left: -100%;
    position: absolute;
    top: 0;
    transform: skew(0deg) translateX(-20%);
    transition: transform 0.2s ease;
    width: 120%;
}

.btn-1:hover:before {
    transform: skew(45deg) translateX(75%);
}

.phone-icon {
    color: #164863;
    margin-right: 10px;
    font-size: 15px;
    -webkit-mask-image: -webkit-radial-gradient(#FFFFFF, #9BBEC8);
}

/* Tablet breakpoint */
@media screen and (max-width: 768px) {
    .btn-1 {
        display: none;
    }
}

/* Mobile breakpoint */
@media screen and (max-width: 480px) {
    .btn-1 {
        display: none;
    }
}