.hero-card-container {
  margin-top: 30px;
  border-radius: 30px;
  position: relative;
  width: 100%;
  height: 55vh;
  overflow: hidden;
}

.hero-card-container img {
  position: absolute;
  bottom: 0;
  height: auto;
  display: block;
  width: 100%;
  opacity: 0;
  animation: fadeInScale 1s ease forwards;
}

.card-content {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 10px;
  text-align: left;
}

.card {
  width: 60%;
  background-color: #d0e5eb;
  opacity: 0.2;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(0.5);
  animation: zoomIn 2s ease forwards;
  overflow: hidden;
  padding: 20px;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.card-header {
  font-size: 35px;
  color: #000000;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

.card-title {
  font-size: 25px;
  color: #000000;
  padding: 0px;
  margin: 0px;
}

.card-body {
  color: #000000;
  padding: 0px;
  margin: 0px;
  margin-bottom: 15px;
}

.hero-card-footer-container {
  width: 100%;
  border-radius: 30px;
  position: relative;
  height: auto;
  overflow: hidden;
  opacity: 0;
  animation: fadeInScale 1s ease forwards;
}

.hero-card-footer-container img {
  width: 100%;
  height: auto;
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media screen and (max-width: 1350px) {
  .hero-card-container {
    height: 65vh;
  }
  .card {
    width: 70%;
  }
}

@media screen and (max-width: 1000px) {
  .card {
    width: 80%;
  }
}

/* Tablet breakpoint */
@media screen and (max-width: 768px) {
  .hero-card-container {
    height: 70vh;
  }
  
}

/* Mobile breakpoint */
@media screen and (max-width: 480px) {
  .hero-card-container {
    height: 75vh;
  }
  
}
