.partner-header {
  text-align: center;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: -110px;
  font-size: 150px;
  font-weight: bolder;
  color: #9bbec8;
  transform: scale(0.5);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.partner-header.visible {
  opacity: 1;
  transform: scale(1);
}

.partner-subtitle {
  text-align: center;
  margin-bottom: -45px;
  padding-bottom: 0px;
  margin-top: 50px;
  font-size: 15px;
  color: #ffffff;
  transform: scale(0.5);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.partner-subtitle.visible {
  opacity: 1;
  transform: scale(1);
}

.partner-grid {
  height: 40vh;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  align-content: center;
}

.partner-grid-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 30px;
  animation: slideAnimation 3s ease-in-out infinite alternate;
  opacity: 0.8;
}

@keyframes slideAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}

.partner-container {
  height: 20vh;
}

.partner-row {
  display: flex;
  padding: 15px;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-content: space-between;
  overflow: hidden;
}

.partner-column {
  flex: 1;
  position: relative;
  overflow: hidden;
  padding: 10px;
  height: 100%;
  box-sizing: border-box;
  margin: 10px;
  object-fit: contain;
  top: 0;
  left: 0;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .partner-header {
    font-size: 100px;
    margin-bottom: -80px;
  }

  .partner-subtitle {
    margin-bottom: -30px;
  }
}

/* Mobile breakpoint */
@media screen and (max-width: 480px) {
  .partner-header {
    font-size: 60px;
    margin-bottom: -50px;
  }

  .partner-subtitle {
    margin-bottom: -20px;
  }
}
